/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.product-div {
    width: 500px;
    margin: 30px;
}

.product-div>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.product-img {
    width: 500px;
    height: 500px;
}

h1,
h2,
strong {
    color: #6a6a64;
}

.nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-image: url(../images/black-leather-background-4k.jpg);
    background-size: cover;
    background-position: 50%;
    top: 0px;
    left: 0px;
    z-index: 999;
    right: 0px;
}

.nav-bar .nav-bar-search-and-cart {
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar-search-and-cart .search-cart {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar-search-and-cart .search-cart:hover i {
    color: lightyellow;
}

.nav-bar .nav-bar-search-and-cart .search-cart i {
    margin-left: 20px;
    color: #FFF;
    cursor: pointer;
}

.nav-bar img {
    height: 150px;
    width: 150px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li a {
    outline: none;
    text-decoration: none;
    color: #fff;
}

.nav-bar ul li:hover .nav-bar-item-dropdown {
    /*Hover vào sản phẩm sẽ cho ra list giày + quần */
    display: block;
}

.nav-bar ul li .nav-bar-item-dropdown {
    /*Thằng drop down thì phải position absolute */
    position: absolute;
    top: 24px;
    left: 0px;
    display: none;
}

.nav-bar ul li .nav-bar-item-dropdown ul {
    display: block;
    width: 200px;
    background-color: #585C6A;
    padding: 0px;
}

.full-poster-image {
    background-color: black;
    padding: 13rem 13rem 2rem;
}

.full-poster-image img {
    width: 100%;
}


a {
    margin: 0 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0px;
}

.footer-container .footer-item p {
    width: 100%;
}

.footer-container .footer-item a {
    outline: none;
    color: #fff;
}

.footer-container .footer-item .icon-footer {
    width: 100%;
    text-align: center;
}

.footer-container .footer-item .icon-footer a {
    font-size: 20px;
    text-decoration: none;
}

.footer-container .footer-item .icon-footer a i{
    font-size: 35px;
}

.text-bold {
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

.modal .modal-dialog {
    max-width: 1000px !important;
}

.modal .modal-dialog .modal-body img{
    width: 100%;
}

